<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr class="info">
      <th>Recipe Name</th>
      <th>Created On</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes; let i = index">
      <td>{{ recipe.name }}</td>
      <td>{{ recipe.createdOn.toDateString() }}</td>
      <td class="action">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#viewModal' + i"
        >
          View
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="viewModal{{ i }}"
          tabindex="-1"
          aria-labelledby="View"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ recipe.name }} ({{ recipe.createdOn.toDateString() }})
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr class="info">
                      <th>Name</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let ingredient of recipe.ingredients;
                        let i = index
                      "
                    >
                      <td>
                        {{ ingredient.name }}
                      </td>
                      <td>
                        {{ ingredient.quantity }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td class="action">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#editModal' + i"
          (click)="onEdit_click(recipe)"
        >
          Edit
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="editModal{{ i }}"
          tabindex="-1"
          aria-labelledby="View"
          aria-hidden="true"

        >
          <div class="modal-dialog">
            <div class="modal-content" style="width: max-content">
              <div class="modal-header">
                Edit {{ editRecipe.name }}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <label>Name</label>:
                <input
                  type="text"
                  (value)="(editRecipe.name)"
                  [(ngModel)]="editRecipe.name"
                />
                <hr />
                <div *ngFor="let ingredient of editRecipe.ingredients">
                  <label>Name</label>:
                  <input
                    type="text"
                    (value)="(ingredient.name)"
                    [(ngModel)]="ingredient.name"
                  />

                  <label>Quantity</label>:
                  <input
                    type="text"
                    (value)="(ingredient.quantity)"
                    [(ngModel)]="ingredient.quantity"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    (click)="btnSave_click(i)"
                  >
                    Save
                  </button>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td class="action">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#deleteModal' + i"
        >
          Delete
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="deleteModal{{ i }}"
          tabindex="-1"
          aria-labelledby="Delete"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">Delete {{ recipe.name }}</div>
              <div class="modal-body">
                <label>Are you sure you want to delete this recipe?</label>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  No
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                  (click)="delete(recipe)"
                >
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
